.App {
    max-width: 600px;
    margin: auto;
    padding: 100px 0;

    //nav styles
    nav {
        > ul {
            padding: 0;
            list-style: none;
            display: inline-flex;
            box-shadow: 5px 4px 0 -2px #000000;
            margin-bottom: 30px;

            > li {
                background-color: #fff;
                border: 2px solid;
                border-right: none;

                button {
                    padding: 10px 15px;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    transition: background-color 0.2s;
                    font-weight: bold;
                }

                &.active {
                    background-color: #9dbbed;
                }

                &:last-child {
                    border-right: 2px solid;
                }

            }
        }
    }

    //accordion styles
    .accordion {
        .accordion-item {
            &:last-child{
                .accordion-header {
                    border-top: none;
                }
            }

            .accordion-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 16px;
                padding: 10px;
                border: 2px solid;
                font-weight: bold;
                position: relative;
                cursor: pointer;
                width: 100%;
                background-color: #fff;

                .accordion-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    border: 2px solid;
                    border-radius: 50%;
                    font-size: 20px;
                    background-color: #cdcccc;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 3px;
                        height: 15px;
                        background-color: #000;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        width: 15px;
                        height: 3px;
                        background-color: #000;
                    }

                    &.open {
                        &:before {
                            display: none;
                        }
                    }
                }
            }

            //table styles
            .accordion-body {
                table {
                    width: 100%;
                    font-weight: 400;
                    border-spacing: 0;

                    thead {
                        th {
                            background-color: #cdcccc;
                            padding: 20px 5px;
                            text-align: left;
                            border-right: 2px solid;
                            border-bottom: 2px solid;

                            &.app-name {
                                border-left: 2px solid;
                            }

                            &.author {
                                text-align: right;
                            }
                        }
                    }

                    tbody {
                        tr {
                            &:nth-child(odd){
                                background-color: #eee;
                            }

                            td {
                                border-right: 2px solid;
                                border-bottom: 2px solid;

                                &.app-name {
                                    border-left: 2px solid;
                                }

                                &.author {
                                    text-align: right;
                                }

                                a {
                                    padding: 10px 5px;
                                    display: block;
                                    color: #000;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
